.skyblue{
    width: 20%;
    margin: 0 auto;
    background-color: skyblue;
    border: 3px solid rgb(245, 238, 238);
}
.lightgreen{
    width: 20%;
    margin: 0 auto;
    background-color: lightgreen;
    border: 3px solid rgb(245, 238, 238);
}
.red{
    width: 20%;
    margin: 0 auto;
    background-color: rgb(232, 82, 59);
    border: 3px solid rgb(245, 238, 238);
    box-shadow: 8px 8px 8px 8px rgb(215, 92, 92);
}
.gray{
    width: 20%;
    margin: 0 auto;
    background-color: gray;
    border: 3px solid rgb(245, 238, 238);
}



